<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isAndroid" (click)="exitApp()">
        <ion-icon slot="icon-only" color="danger" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="success" (click)="openSqlite()">Abrir Sqlite</ion-button>
  <ion-button color="danger" (click)="insertProduct('Nexus8','nexus está com tudo',3000)">Inserir Produto</ion-button>
  <ion-button color="warning" (click)="getAllProducts()">Consultar Produtos</ion-button>
  <div *ngFor="let product of products">
    {{product.name}} - {{product.price}}
  </div>
</ion-content>
